* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    text-decoration: none;
}

body {
    background-color: rgb(255, 255, 255);
    margin: 10px;
    padding: 10px;
}

.image {
    float: right;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.form {
    margin: 8% auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    padding: 25px;
    border-radius: 20px;
    background-color: #ffffff;
    color: #716a6a;
    border: 1px solid #bdb1b1;
}

.title {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #00bfff;
}

.title::before {
    width: 18px;
    height: 18px;
}

.title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #00bfff;
}

.message,
.signin {
    font-size: 14.5px;
    color: rgba(140, 130, 130, 0.7);
}

.signin {
    text-align: center;
}

.signin a:hover {
    text-decoration: underline royalblue;
}

.signin a {
    color: #00bfff;
}

.form label {
    position: relative;
}

.form label .input {
    background-color: #f7f0f0;
    color: #4f4e4e;
    width: 100%;
    padding: 20px 05px 05px 10px;
    outline: 0;
    border: 1px solid rgba(207, 199, 199, 0.397);
    border-radius: 10px;
}

.form label .input+span {
    color: rgba(117, 114, 114, 0.5);
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.form label .input:placeholder-shown+span {
    top: 12.5px;
    font-size: 0.9em;
}

.form label .input:focus+span,
.form label .input:valid+span {
    color: #00bfff;
    top: 0px;
    font-size: 0.7em;
    font-weight: 600;
}

.input {
    font-size: medium;
}

.submit {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
    background-color: #00bfff;
}

.submit:hover {
    background-color: #00bfff96;
}

.show-hide-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    color: #00bfff;
    font-size: 14px;
}

.show-hide-btn:hover {
    color: #00bfff96;
}

@keyframes pulse {
    from {
        transform: scale(0.9);
        opacity: 1;
    }
    to {
        transform: scale(1.8);
        opacity: 0;
    }
}